<h1>All Slots</h1>
<% @slots.each do |s| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to s.start_time, property_path(p) %>
      </h4>
    </div>
  </div>
<% end %>
