<div class="panel panel-default-offer-inner">
  <div>
    <a class="btn btn-success btn-block btn-md" type="button" href="tel:+178142067833">Protect yourself by sending these questions to the seller</a>
  </div>
  <p>Massachusetts is a caveat emptor, or “buyer beware,” state, meaning there is not a whole lot you are legally required to disclose to the buyer when selling your property. The burden is on the buyer to ask the right questions and perform a home inspection in order to determine the property’s physical condition, features, and so forth.</p>
  <div>
    <h3> As a Buyer have you asked the following?</h3>
  <ul>How old is the roof?</ul>
    <ul>Has the basement ever flooded -- and if so, how often?</ul>
    <ul>Have you ever seen mold in the house?</ul>
    <ul>Has there ever been a fire in the house?</ul>
    <ul>Are you aware of any infestation problems, like termites?</ul>
    <ul>How old is the electric?</ul>
    <ul>How old is the boiler?</ul>
    <ul>What type of heating is it?</ul>
    <ul>Have there ever been any disputes with neighbors?</ul>
    <ul>When was the last time the house was painted?</ul>
    <ul>Is the house in a flood zone?</ul>
    <ul>Have you had any cracks in the foundation or extreme settling problems?</ul>
  </div>
  <p>Massachusetts law requires only that home sellers disclose the existence of lead paint (see the Massachusetts Lead Paint Statute) and the presence of a septic system (see Title 5 of the Massachusetts Environmental Code).</p>
  <p>While these are the only two legally required disclosures, you can expect prospective home buyers to ask you questions about the property, particularly after they’ve conducted a home inspection. A buyer might also request that you make additional disclosures in the purchase and sale agreement, including disclosures related to underground storage tanks, asbestos, and other hazardous materials.</p>
  <div>
    <h3> As a Buyer things to watch for:</h3>
    <ul>Is there fresh sections of paint on any small section of the ceiling? -- This could suggest a leak</ul>
    <ul>Are there cracks in the foundation? Are they significant?</ul>
    <ul>Does the electric panel look new?</ul>
    <ul>Do you see any discoloration on the roof or siding?</ul>
    <ul>If there is damage to any of the siding how extensive does it appear to be and can you deduce the cause?</ul>
    <ul>Are there any trees near the house that look like they may be dying and thus, would cause damage to the house should it fall?</ul>
    <ul>Is the house near anything that might interupt your quiet enjoyment like: a school, factory, or highway?</ul>
    <ul>What type of heating is it?</ul>
    <ul>Have there ever been any disputes with neighbors?</ul>
    <ul>When was the last time the house was painted?</ul>
    <ul>Is the house in a flood zone?</ul>
    <ul>How old is the roof?</ul>
  </div>

</div>