<div id="appointments" class="col-md-4">

  <h3>
    <center><%= "Bookings" %></center>
  </h3>
  <% if slot = p.booked_by_user?(current_user) %>
      <%= link_to [slot.property, slot, slot.appointment], class: 'btn btn-danger', method: :delete do %>
          <span class="glyphicon glyphicon-time"></span>
          <%= slot.start_time.strftime("%-I:%M%p %B %-d, %Y") %>
          by <%= slot.appointment.user.name.split(" ")[0] %>
      <% end %>
  <% end %>

</div>