<% if user_signed_in? %>
    <div class="favorite">
      <% if favorite = current_user.favorited(p) %>
          <%= link_to [p, favorite], class: 'btn btn-danger', method: :delete do %>
              <span class="glyphicon glyphicon-heart" style="vertical-align:middle"></span>
          <% end %>


      <% else %>
          <%= link_to [p, Favorite.new], class: 'btn btn-primary', method: :post do %>
              <span class="glyphicon glyphicon-heart-empty" style="vertical-align:middle"></span>
          <% end %>
      <% end %>
    </div>
<% end %>
