<div class="col-md-12">

  <div class="panel panel-marketing">

    <div class="marketing-message">
      <form class="form-inline" role="form">
        <div class="form-group">
          <div>

            <label for="message">Tell People about it!</label>

          </div>
          <input type="text" class="form-control" id="message">
        </div>
      </form>
    </div>

    <div>
      <!-- Twitter -->
      <a href="" title="Email" target="_blank" class="btn btn-envelope"><i class="fa fa-envelope"></i> Email </a>
      <!-- Twitter -->
      <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i>
        Twitter</a>
      <!-- Facebook -->
      <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i>
        Facebook</a>
      <!-- Google+ -->
      <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i>
        Google+</a>
      <!-- StumbleUpon -->
      <a href="http://www.stumbleupon.com/submit?url=" title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon"><i class="fa fa-stumbleupon"></i>
        Stumbleupon</a>
      <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i>
        LinkedIn</a>
      <!-- Pinterest -->
      <a href="http://www.pinterest.com/pin/create/button/?ur=_DESCRIPTION_&media=_URL_TO_IMAGE_" title="Share on Pinterest" target="_blank" class="btn btn-pinterest"><i class="fa fa-pinterest"></i>
        Pinterest</a>
    </div>

  </div>

</div>