<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="color: #f27c53; font-size: 24px"></i>
 Show More
  <i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="color: #f27c53; font-size: 24px"></i>
</a>
<p class="collapse footer__text" id="collapseExample">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  Ut tortor pretium viverra suspendisse potenti nullam. Libero enim sed faucibus turpis. Id ornare arcu odio ut sem nulla pharetra diam. Ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Integer vitae justo eget magna fermentum iaculis eu non. Praesent tristique magna sit amet purus. Mauris ultrices eros in cursus turpis massa tincidunt. Consequat semper viverra nam libero justo laoreet sit. Dui ut ornare lectus sit. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Quisque id diam vel quam elementum.
</p>

