<div>
  <h2>SELLER'S REPLY</h2>
</div>
<div>
  SELLER(S): (check one and sign below)
</div>
<div>
  (a) ACCEPT(S) the Offer as set forth above at <input type="text" name="user[first_name]" placeholder="Date/Time">
  a.m./p.m. on this
  day of <input type="text" name="user[first_name]" placeholder="Date/Time">
  .
  <input type="text" name="user[first_name]" placeholder="Seller Name">
</div>
<div>
  (b) REJECT(S) the Offer. <input type="text" name="user[first_name]" placeholder="Seller Name">
</div>
<div>
  (c) Reject(s) the Offer and MAKE(S) A COUNTEROFFER on the following terms:
  <input type="text" name="user[first_name]">
  This Counteroffer shall expire at <input type="text" name="user[first_name]" placeholder="Date/Time">
  a.m./p.m. on <input type="text" name="user[first_name]" placeholder="Date/Time">
  if not withdrawn earlier.

  SELLER <input type="text" name="user[first_name]" placeholder="Seller Name">
  or spouse <input type="text" name="user[first_name]" placeholder="Seller Name">
  Date <input type="text" name="user[first_name]" placeholder="Date/Time">
  SELLER <input type="text" name="user[first_name]" placeholder="Seller Name">
  Date <input type="text" name="user[first_name]" placeholder="Date/Time">
</div>
<div>

  <h2>(IF COUNTEROFFER FROM SELLER) BUYER'S REPLY
    BUYER(S): (check one and sign below)</h2>
</div>
<div>
  (a) ACCEPT(S) the Counteroffer as set forth above at
  <input type="text" name="user[first_name]" placeholder="Buyer Name">
  a.m./p.m. on this <input type="text" name="user[first_name]" placeholder="Date/Time">
  day of <input type="text" name="user[first_name]" placeholder="Date/Time">
  .
</div>
<div>
  (b) REJECT(S) the Counteroffer.
  <input type="text" name="user[first_name]">
  BUYER <input type="text" name="user[first_name]" placeholder="Buyer Name">
  Date <input type="text" name="user[first_name]" placeholder="Date/Time">
  BUYER <input type="text" name="user[first_name]" placeholder="Buyer Name">
  Date <input type="text" name="user[first_name]" placeholder="Date/Time">
</div>
<div>

  <h2>RECEIPT FOR DEPOSIT</h2>
  I hereby acknowledge receipt of a deposit in the amount of $
  <input type="text" name="user[first_name]" placeholder="Cash Amount">
  from the BUYER this <input type="text" name="user[first_name]" placeholder="Date/Time">
  day
  of <input type="text" name="user[first_name]" placeholder="Date/Time">
  .
  <input type="text" name="user[first_name]" placeholder="Seller Name">
</div>
</div>




<div class="col-sm-10">
  <div class="form-group">
    <div id="Parties" class="panel-default" style="display:none;">
      <center><h4><p> What type of home do you have? </p></h4></center>


      <div class="panel-default"><center>
        <p>Drag a photo of the front of your house here.</p>
        <span class= "glyphicon glyphicon-camera" style="color:black"></span>
        <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-10">
      <div class="form-group">
        <div id="structure1" class="panel-default" style="display:none;">
          <center><h4><p> What type of home do you have? </p></h4></center>
          <center>

          </center>
          <div class="panel-default"><center>
            <div>
              (c) Reject(s) the Offer and MAKE(S) A COUNTEROFFER on the following terms:
              <input type="text" name="user[first_name]">
              This Counteroffer shall expire at <input type="text" name="user[first_name]" placeholder="Date/Time">
              a.m./p.m. on <input type="text" name="user[first_name]" placeholder="Date/Time">
              if not withdrawn earlier.

              SELLER <input type="text" name="user[first_name]" placeholder="Seller Name">
              or spouse <input type="text" name="user[first_name]" placeholder="Seller Name">
              Date <input type="text" name="user[first_name]" placeholder="Date/Time">
              SELLER <input type="text" name="user[first_name]" placeholder="Seller Name">
              Date <input type="text" name="user[first_name]" placeholder="Date/Time">
            </div>

          </div>

        </div>





      </div>


    </div>