
  <div class="container">
    <div class="row">

      <div class="">
        <div class="sale__content">
          <div class="sale__group">
            <div class="sale__item">
              <a href="#" class="sale__item-link">
                <div class="sale__item-img-wrapper">
                  <img src="/assets/sale-1.png" alt="Sale image" class="sale__item-img">
                </div>
                <div class="sale__item-content">
                  <div class="sale__item-content__group">
                    <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                    <h3 class="sale__item-price">$990</h3>
                  </div>
                  <div class="sale__item-content__group">
                    <h4 class="sale__item-size">2944 Sq Ft</h4>
                    <ul class="sale__item-features">
                      <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                      <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                      <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="sale__item">
              <a href="#" class="sale__item-link">
                <div class="sale__item-img-wrapper">
                  <img src="/assets/sale-2.png" alt="Sale image" class="sale__item-img">
                </div>
                <div class="sale__item-content">
                  <div class="sale__item-content__group">
                    <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                    <h3 class="sale__item-price">$1090</h3>
                  </div>
                  <div class="sale__item-content__group">
                    <h4 class="sale__item-size">2944 Sq Ft</h4>
                    <ul class="sale__item-features">
                      <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                      <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                      <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="sale__item">
              <a href="#" class="sale__item-link">
                <div class="sale__item-img-wrapper">
                  <img src="/assets/sale-3.png" alt="Sale image" class="sale__item-img">
                </div>
                <div class="sale__item-content">
                  <div class="sale__item-content__group">
                    <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                    <h3 class="sale__item-price">$790</h3>
                  </div>
                  <div class="sale__item-content__group">
                    <h4 class="sale__item-size">2944 Sq Ft</h4>
                    <ul class="sale__item-features">
                      <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                      <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                      <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
