<div class="jumbotron">
  <div class="panel panel-appointment">
    <span class="glyphicon glyphicon-home" style="font-size: 140px;"></span>
    <h1><b>PROPERTIES</b></h1>
  </div>
</div>


<% @properties.each do |p| %>
    <div class="jumbotron">
      <%= render partial: "layouts/buyer_property_view", locals: {p: p} %>
    </div>
<% end %>



