<div class="jumbotron">
  <h1>
    <center><b>PROPERTIES</b></center>
  </h1>
</div>


<% @properties.each do |p| %>
    <div class="jumbotron">
      <%= render partial: "layouts/buyer_property_view", locals: {p: p} %>
    </div>
<% end %>
     




