<% @title="Moverable Search" %>
<div class="container-fluid">
  <div class="well">
    <div class="well"><h4> See your new home today!</h4></div>
  </div>

  <input id="pac-input" class="controls" type="hidden" placeholder="Search Box">

      <div class="row col-md-8 float-left">
        <div id="map-canvas"></div>
        <div class="panel panel-default">

              <% @properties.each do |p| %>
              <div class="row">
                <div class="">
                  <%= render partial: "layouts/search_property_view", locals: {p: p} if p.showcase %>

                </div>
              </div>
          <% end %>

        </div>
      </div>
      <div class="col-md-4 float-right">
        <div class="well">
          <div class="well" id="search_pagination">
            <%= will_paginate @properties %>
          </div>
        </div>
        <div id="property-index">

              <% @properties.each do |p| %>
                <%= render partial: "layouts/search_property_view", locals: {p: p} %>


                <% end %>

        </div>
      </div>
</div>

  <script>

      function initAutocomplete() {
          var map = new google.maps.Map(document.getElementById('map-canvas'), {
              center: {lat: 37.09024, lng: -95.712891},
              zoom: 4,
              mapTypeId: 'roadmap',
              styles: 'styles',
              scrollwheel: false,
              mapTypeControl: false,
          });


          // Create the search box and link it to the UI element.
          var input = document.getElementById('pac-input');
          var searchBox = new google.maps.places.SearchBox(input);
          map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);


          var markers = [];


              $.each(gon.property_coordinates,function(index, coordinates){
                  markers.push(new google.maps.Marker({
                      map: map,
                      title: 'bob',
                      animation: google.maps.Animation.DROP,

                      position: {lat: coordinates.lat, lng: coordinates.lng}

                  }));
              })




          var infowindow = new google.maps.InfoWindow({
              content:"Hello World!"
          });

          infowindow.open(map,marker);
      }

  </script>





      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0XtdadnCScIHtKprl46UROKJkoP1cg7s&libraries=places&callback=initAutocomplete"
              async defer></script>







