<div class="jumbotron">
  <div class="panel panel-appointment">
    <span class="glyphicon glyphicon-home" style="font-size: 140px;"></span>
    <h1><b>PROPERTIES</b></h1>
  </div>



  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#buyer">Buyer</a></li>
    <li><a data-toggle="tab" href="#seller">Seller</a></li>
    <li><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#appointment">Appointments</a></li>
    <li><a data-toggle="tab" href="#appointment">Offers</a></li>
    <li><a data-toggle="tab" href="#appointment">Advice</a></li>
  </ul>
</div>


<% @properties.each do |p| %>
    <div class="jumbotron">
      <%= render partial: "layouts/buyer_property_view", locals: {p: p} %>
    </div>
<% end %>


