<footer class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 footer__column">
        <h3 class="footer__column-title">CONTACT US</h3>
        <ul class="footer__list">
          <li class="footer__list-item footer__list-item--contact"><i class="fa fa-map-marker footer__list-item__icon"></i> 123 Main Street, Rye, NH</li>
          <li class="footer__list-item footer__list-item--contact"><a href="tel:+880174240499" class="footer__list-item__link"><i class="fa fa-phone footer__list-item__icon"></i> (888)174-2404</a></li>
          <li class="footer__list-item footer__list-item--contact"><a href="mailto:Moverable@home.com" class="footer__list-item__link"><i class="fa fa-envelope footer__list-item__icon"></i> Moverable@home.com</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 hidden-xs footer__column">
        <h3 class="footer__column-title">QUICK LINK</h3>
        <nav class="footer__nav">
          <ul class="footer__list">
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">Contact US</a></li>
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">Transactions</a></li>
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">Create Property</a></li>
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">My Properties</a></li>
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">  <div class="hidden-xs">
              <!--<#if current_user.admin %>-->
                  <!--<%# link_to '@ ~> Admin Area', rails_admin_path %>-->
              <!--<# end %>-->
            </div></a></li>
          </ul>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">Maine</a></li>
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">New Hampshire</a></li>
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">Massachusetts</a></li>
            <li class="footer__list-item"><a href="#" class="footer__list-item__link">Vermont</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-4 footer__column">
        <h3 class="footer__column-title">NEWSLETTER</h3>
        <p class="footer__text">We are a “safe agent” and member of the “my deposits” protected deposit scheme too, enter your email to receive the complete newsletter.</p>
        <div class="newsletter">
          <input type="email" class="newsletter__input" placeholder="Enter your email">
          <div class="newsletter__btn">
            <i class="fa fa-envelope newsletter__btn-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<section class="container-fluid subfooter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="subfooter__social">
          <li class="subfooter__social-item"><a href="#" class="subfooter__social-link"><i class="subfooter__social-icon fa fa-facebook"></i></a></li>
          <li class="subfooter__social-item"><a href="#" class="subfooter__social-link"><i class="subfooter__social-icon fa fa-twitter"></i></a></li>
          <li class="subfooter__social-item"><a href="#" class="subfooter__social-link"><i class="subfooter__social-icon fa fa-pinterest-p"></i></a></li>
          <li class="subfooter__social-item"><a href="#" class="subfooter__social-link"><i class="subfooter__social-icon fa fa-google-plus"></i></a></li>
          <li class="subfooter__social-item"><a href="#" class="subfooter__social-link"><i class="subfooter__social-icon fa fa-youtube"></i></a></li>
        </ul>
        <h6 class="subfooter__copyright">© 2017 Moverable, All Rights Reserved</h6>
      </div>
    </div>
  </div>
</section>