<p>Founded in January of 2015 as a capstone project for my Bloc Full Stack Web Development program, Bloc-acres is a community marketplace for people to list, discover, and purchase unique properties around the world — online or from a mobile phone or tablet.</p>

<p>Whether an apartment, a house, or a villa, Bloc-acres connects people to unique properties without a realtor. Bloc-acres is the easiest way for people to show and sell thier property without the standard costs of a realtor.</p>

<p><i><center>Bloc-acres removes the middleman when selling property.</center></i></p>


<div class="jumbotron">
  <h2><b><center>Real Estate Disrupted. </center></b></h2>


    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>1</center></b></div>
          <p> List or search properties </p> 
        <div class="panel panel-default"><h3><b><center>2</center></b></div>
          <p> Owner installs connected lock </p> 
        <div class="panel panel-default"><h3><b><center>3</center></b></div>
          <p> Create listing with guide </p> 
      </div> 
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>4</center></b></div>
          <p> Set notice to view property </p> 
        <div class="panel panel-default"><h3><b><center>5</center></b></div>
          <p> View property with E-key</p> 
        <div class="panel panel-default"><h3><b><center>6</center></b></div>
          <p> Confirm buyer exits</p> 
      </div>
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>7</center></b></div>
          <p> Use guide to make an offer </p> 
        <div class="panel panel-default"><h3><b><center>8</center></b></div>
          <p> Inspect, and lawyer up</p> 
        <div class="panel panel-default"><h3><b><center>9</center></b></div>
          <p> Close </p> 
      </div>
  </div>
</div>