<h1> 10 Steps in Bloc-Acres</h1>
<h2>Ditch the middleman when selling your house.</h2>
<h3>Step 1:</h3><p> Sign up; </p> 
  <h3>Step 2: </h3><p> Seller recieves and installs connected lock; </p> 
  <h3>Step 3:</h3> <p> Seller creates house listing; </p> 
  <h3>Step 4: </h3><p> Seller sets how much notice is required to see the house (30 minutes-1 week); </p> 
  <h3>Step 5: </h3><p> Homebuyer creates an appointment to view the house; </p> 
  <h3>Step 6: </h3><p> Homebuyer views the house with a short-term electronic "key" through the connected lock; </p> 
  <h3>Step 7: </h3><p> Homebuyer confirms they have left the house; </p> 
  <h3>Step 8: </h3><p> Homebuyer uses Bloc-Acres' step by step guide to make an offer; </p> 
 <h3> Step 9: </h3><p> Closing; </p> 
  <h3>Step 10: </h3><h2> PROFIT! </h2>