
<div id="about-text1and2" class="panel panel-default">
  <p id="about-text1" >Founded in January 2015 as a capstone project for the Bloc.io Full Stack Web Development program, Bloc-acres is a community marketplace for people to list, discover, and purchase unique properties around the world — online or from a mobile phone or tablet.</p>

  <p id="about-text2" >Whether an apartment, a house, or a villa, Bloc-acres connects people to unique properties without a realtor. Bloc-acres is the easiest way for people to show and sell thier property without the standard costs of a realtor.</p>

  <p><i><center>Bloc-acres removes the middleman when selling property. All rights reserved 2015. </center></i></p>
</div>

<div class="jumbotron">
  <h2><b><center>Real Estate Different. </center></b></h2>


    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>1</center></b></div>
          <p> List or search properties </p> 
        <div class="panel panel-default"><h3><b><center>2</center></b></div>
          <p> Owner installs connected lock </p> 
        <div class="panel panel-default"><h3><b><center>3</center></b></div>
          <p> Create listing with guide </p> 
      </div>
    </div>   
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>4</center></b></div>
          <p> Set notice to view property </p> 
        <div class="panel panel-default"><h3><b><center>5</center></b></div>
          <p> View property with E-key</p> 
        <div class="panel panel-default"><h3><b><center>6</center></b></div>
          <p> Confirm buyer exits</p> 
      </div>
    </div>  
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>7</center></b></div>
          <p> Use guide to make an offer </p> 
        <div class="panel panel-default"><h3><b><center>8</center></b></div>
          <p> Inspect, and lawyer up</p> 
        <div class="panel panel-default"><h3><b><center>9</center></b></div>
          <p> Close </p> 
      </div>
    </div>

  <div class="panel panel-default">
    <br></br>
    <p id="about-text3" >At Bloc-Acres safety is paramount. Inviting someone you don't know into your home can be concerning. Although internet services abound that connect strangers to drive you from place to place or rent a spare bedroom under the same roof, Bloc-Acres understands the squemishness involved and so takes every opportunity to emphasize safety and security. As such, it has implemented triple verification of all members. </p>
    <br></br>
    <p id="about-text4" >For a buyer to view your house, she must be a member of the site. This requires a valid email address, credit card, smartphone and number. Should a seller wish further verification, you may require that a buyer be prequalified from a bank. Furthermore, web cameras take a picture of viewers entering and exiting the house during a showing. Sellers of property on Bloc-Acres are provided a safe, an electronic lock and insurance. When you sell your house you may either leave these at your old house, or take them with you to keep the conveniance and security they provide at your new home. Bloc-Acres has a zero tolerance policy for safety matters. Your home and family are safe with Bloc-Acres.</p>
<H2><i><center>All rights reserved 2015. </center></i></H2>
</div>