<h1>The 10 Steps of Bloc-Acres</h1>
<p>Created by: JAMag</p>
<p>Ditch the middleman when selling your house.</p>
<p>Step 1: Sign up; Step 2: recieve and install your connected lock; Step 3: Create your listing; Step 4: Set how much notice you want before your house can be seen; Step 5: The homebuyer sets up an appointment to view the house; Step 6: They view the house using a short term pass to enter the house; Step 7: they confirm that they have left the house; Step 8: they use Bloc-Acres step by step guidance to make an offer; Step 9: Closing; Step 10: profit! </p>