
<div id="about-text1and2" class="panel panel-default">
  <p id="about-text1" >Founded in January 2015 as a capstone project for the Bloc.io Full Stack Web Development program, Bloc-acres is a marketplace for people to list, discover, and purchase unique properties around the world — online and in-person.</p>

  <p id="about-text2" >Bloc-acres connects people to unique properties around the world. Bloc-acres is the easiest way for people to show and sell their property.</p>

  <p><i><center>Bloc-acres removes the middleman when selling property. All rights reserved 2015. </center></i></p>
</div>

<div class="jumbotron">
  <h2><b><center>Real Estate Different. </center></b></h2>


    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>1 <p> Sign up! </p> </center></b></div>

        <div class="panel panel-default"><h3><b><center>2 <p> List or search properties </p> </center></b></div>

        <div class="panel panel-default"><h3><b><center>3 <p> Set schedule to view property </p> </center></b></div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>4 <p> Make appointment to view </p> </center></b></div>

        <div class="panel panel-default"><h3><b><center>5 <p> View property</p> </center></b></div>

        <div class="panel panel-default"><h3><b><center>6 <p> Inspect the property </p> </center></b></div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default"><h3><b><center>7 <p> Use guide to make an offer </p> </center></b></div>
        <div class="panel panel-default"><h3><b><center>8 <p> Lawyer up</p> </center></b></div>
        <div class="panel panel-default"><h3><b><center>9 <p> Close </p> </center></b></div>
      </div>
    </div>

  <div class="image">
  <%= link_to image_tag ("dreamhome_hero_summer.jpg") %>
  </div>

  <div class="panel panel-default">
    <br></br>
    <p id="about-text3" >Sellers may set their own schedule of showings. Buyers book appointments to view a house.  </p>
    <br></br>
    <p id="about-text4" >For a buyer to view your house, she must be a member of the site. This requires a valid email address, credit card, smartphone and number. Should a seller wish further verification, you may require that a buyer be pre-qualified from a bank. Buyers must pay a fee to visit your house. Bloc-Acres has a zero tolerance policy for safety matters. Your home is safe with Bloc-Acres.</p>
<H4><i><center>Copyright 2015. All rights reserved. </center></i></H4>
</div>