<div>
  <h1>Reasons why Buyer's should buy a house on Moverable.</h1>
    <h2>Buyer's pay for the Realtors.</h2>
    <p>Buyer's are buying the house. They are taking out a mortgage that will pay for that house. The cost of the Realtors are added into the price of the house. So in general, the buyer... not the seller.... is paying for the Realtor.</p>
</div>

<div>
    <h2>You are paying for more than one realtor. You are usually paying for at least 4.</h2>
    <p>In the typical real estate transaction, there are 4 realtors. There is the seller's realtor, who splits his commission with his broker. And there is your realtor (who claims you aren't paying him), and his broker. Because a real estate agent is mandated by law to work under a real estate broker, they each split their fee with that broker. So 4 middle-men are now in the transaction. </p>
</div>

<div>
  <h2>You're realtor is against you.</h2>
  <p> Sounds crazy. It is. Because each real estate agent is paid a percentage of the purchase price of the house, each real estate agent wants to see you pay the most as possible for the house... they get more money if you pay more. Even your buyer's broker. </p>
  <p> Moverable is paid a flat fee the seller. And a small per viewing fee by the buyer. Because Moverable is incentivized to inflate the price of the house, we won't. This means you are negotiating with the buyer only, not the buyer and 4 other real estate agents.</p>
</div>

<div>
  <h2>But a realtor knows the process.</h2>
  <p>Moverable provides guides throughout the entire process. It makes recommendations to highly estemmed home inspectors, mortgage brokers, and real estate attorneys. We will even save you money on the costs of an attorney drafting closing documents by auto-completing forms and emailing them to her. In fact, we require the use of an attorney to make sure your interests are taken care of. You choose which one, but our forms can only go to an attorney.</p>
  <p> So does Moverable. We want each deal to be fair. We recommend a fair price to the seller when they list the property, and should the inspection process turn up issues, we suggest fair counter offers to you!</p>
</div>

<div>
  <h2>Okay. What else?</h2>
<p>Because Moverable uses electronic locks and security cameras on each home, you can view the home whenever the seller says it is available. That means if you pass by a house on the way to get coffee you could tour on your way back from the coffee shop! Removing the real estate and her fees, also removes the realtor's schedule. Home buying is now convenient for you not your realtor!</p>
<p>Oh yeah. You will be viewing the house without a strange salesmen there telling you "that's the toilet."</p>
</div>

<div>
  <h2>How much does it cost?</h2>
 <p> For Buyers, Moverable has two price tiers. The first price tier costs 10.00 per tour of a house. This fee, protects homesellers from thievery and ensures that you are who you say you are. The second tier, is $100.00 for as many tours as you want. This means that if you are going to tour more than 10 houses during your search, you are saving money. </p>
   <p>All other services are included after your first tour purchase of $10.00. If the first house you see is perfect, great for you. Your 10.00 still entitles you to the use of Moverable's guides, auto-offers, auto-forms, auto-negotiation and third-party recommendations. </p>
</div>

<div>
  <h2>How do I get started?</h2>
  <p> Sign up. It is free to sign up and search for houses (addresses will be excluded). If you are confident you will view more than 10 homes during your search, pay right away. If you are unsure, then wait and pay when you come across a house you like and want to tour! </p>
</div>