<br>
<div class="jumbotron">
  <h1>BLOC-ACRES</h1>
  <p>Ditch the Realtor.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>No realtors, no pressure</h2>
    <p>Using connected locks and smart phones, show and sell your house without a realtor.</p>
  </div>
  <div class="col-md-4">
    <h2>More better buyers.</h2>
    <p> Because showing your house isn't dependant on a realtors schedule, and because homebuyers are prescreened, you'll ditch the tire-kickers, so your house is seen more often by the people you want -- prequalified interested buyers!</p>
  </div>
  <div class="col-md-4">
    <h2>Bloc-acres makes you bank.</h2>
    <p>The average Boston real estate commission is 5%. The average house price is $575,000. Ditching that realtor who never answers your calls could give you an extra 30 grand -- 30 extra grand sitting in the bank.</p>
  </div>
</div>