<br>
<div class="jumbotron">
  <h1>BLOC-ACRES</h1>
  <p>Ditch the Realtor.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Show the house when you aren't home!</h2>
    <p>Using connected locks and mobile phones, show your house when you aren't there.</p>
  </div>
  <div class="col-md-4">
    <h2>Get more people looking at your house!</h2>
    <p> Because showing your house isn't dependant on a busy realtors schedule your house can be seen by more prospective buyers!</p>
  </div>
  <div class="col-md-4">
    <h2>Save thousands!</h2>
    <p>The average real estate commission in the U.S. is 5%. The average house price in Boston proper is 575,000 that's 28,750 dollars. What would you do with an extra 30 grand?</p>
  </div>
</div>