<br>
<div class="jumbotron">
  <div class="title">
  <h1><center><b>Bloc-Acres</b></center></h1>
  </div>
    <div class="panel panel-default">
      <h3><center>Connecting Buyers and Sellers of Real Estate.</center></h3>
    </div>

  <p><center>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </center></p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default-front-page">
        <h2>No pressure. </h2>
        <p>Show and sell or view and buy a house with no realtor.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default-front-page">
        <h2>Better buyers.</h2>
        <p> Because showings are convenient for the buyer, your property will be viewed more often.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default-front-page">
        <h2>Makes cents.</h2>
        <p> Bloc-Acres could add tens of thousands to your bank.</p>
    </div>
  </div>

</div>


<script>

</script>

