<br>
<div class="jumbotron">
  <h1><center><b>BLOC-ACRES</b></center></h1>

    <div class="panel panel-default">
      <h3><center>Ditch the Realtor.</center></h3>
    </div>

  <p><center>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </center></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>No pressure, no realtors.</h2>
    <p>Using connected locks and smart phones, show and sell or view and buy your property without a realtor.</p>
  </div>
  <div class="col-md-4">
    <h2>More better buyers.</h2>
    <p> Because showing your property isn't based on a realtors schedule, and homebuyers are prescreened, you'll ditch the middleman and the tire-kickers, so your property is seen by the people you want.</p>
  </div>
  <div class="col-md-4">
    <h2>BLOC-ACRES makes you bank.</h2>
    <p>The average real estate commission is 5%. The average Boston house price is $575,000. Ditching the middleman realtor leaves an extra 30 grand sitting in your bank.</p>
  </div>

</div>