<br>
<div class="jumbotron">
  <div class="title">
  <h1><center><b>You're Able</b></center></h1>
  </div>
    <div class="panel panel-appointment">
      <h3><center>Get started </center></h3>
      <h3><center><%= link_to "SELLING", new_user_registration_path, class: 'btn btn-primary btn-lg' %> or
      <%= link_to "BUYING", new_user_registration_path, class: 'btn btn-primary btn-lg' %></center></h3>
      <h3><center>today!</center></h3>
    </div>

  <p><center>
 <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
  </center></p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default-front-page">
        <h2>Zero Pressure</h2>
        <p>Show or buy a home with no sales pitch.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default-front-page">
        <h2>All the Guidance</h2>
        <p> Moverable explains everything in an easy to get way!</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default-front-page">
        <h2>Makes Dough</h2>
        <p> Moverable adds tens of thousands to your bank.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-appointment">
      <center><button type="button" id= "fake buy now" class="btn btn-primary btn-lg"  style="color:palegoldenrod">Buy Now!</button></center>
      <center><h2>Bronze</h2></center>
      <center>
      <span class= "glyphicon glyphicon-star" style="color:palegoldenrod"></span>
      <span class= "glyphicon glyphicon-star" style="color:palegoldenrod"></span>
        <span class= "glyphicon glyphicon-star-empty" style="color:palegoldenrod"></span>
      <span class= "glyphicon glyphicon-star-empty" style="color:palegoldenrod"></span>
      <span class= "glyphicon glyphicon-star-empty" style="color:palegoldenrod"></span>
      </center>
      <center><h3>$299.00 </h3></center>
      <div class="panel-default">
          <ul> Syndication to Web Real Estate Portals</ul>
          <ul> MooveMint Listing</ul>
          <ul> Guided listing creation</ul>
          <ul> Drag and Drop Photo Uploading</ul>
          <ul> Yard Sign</ul>
          <ul> Print ready listing sheet</ul>
          <ul> Preprinted paper for listing sheet with professional branding and all information pre-formatted.</ul>
          <ul> Automated viewing schedule.</ul>
          <ul> Yard sign.</ul>
          <ul>  Balloons.</ul>
          <ul> Guided Purchase and Offer.</ul>
      </div>

    </div>
  </div>
    <div class="col-md-4">
      <div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1></h1></strong><div class="ribbon-stitches-bottom"></div></div>
      <div class="panel panel-appointment">
        <center><button type="button" id= "fake buy now" class="btn btn-primary btn-lg" style="color:gold">Best Value!</button></center>
        <center><h2>Gold</h2></center>
        <center>
        <span class= "glyphicon glyphicon-star" style="color:gold"></span>
        <span class= "glyphicon glyphicon-star" style="color:gold"></span>
        <span class= "glyphicon glyphicon-star" style="color:gold"></span>
          <span class= "glyphicon glyphicon-star" style="color:gold"></span>
        <span class= "glyphicon glyphicon-star-empty" style="color:gold"></span>
        </center>
        <center><h3>$599.00 </h3></center>

        <div class="panel-default">
            <ul> MLS Listing</ul>
            <ul> Syndication to Web Real Estate Portals</ul>
            <ul> MooveMint Listing</ul>
            <ul> Guided listing creation</ul>
            <ul> Drag and Drop Photo Uploading</ul>
            <ul> Yard Sign</ul>
            <ul> Print ready listing sheet</ul>
            <ul> Preprinted paper for listing sheet with professional branding and all information pre-formatted.</ul>
            <ul> Automated viewing schedule.</ul>
            <ul> Yard sign.</ul>
            <ul>  Balloons.</ul>
            <ul> Guided Purchase and Offer.</ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel-appointment">
        <center><button type="button" id= "fake buy now" class="btn btn-primary btn-lg" style="color:cornsilk">Buy Now!</button></center>
        <center><h2>Platinum</h2></center>
        <center>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        </center>
        <center><h3>$1199.00 </h3></center>

        <div class="panel-default">
            <ul> MLS Listing</ul>
            <ul> Syndication to Various Web Real Estate Portals</ul>
            <ul> MooveMint Listing</ul>
            <ul> Guided listing creation</ul>
            <ul> Drag and Drop Photo Uploading</ul>
            <ul> Yard Sign</ul>
            <ul> Print ready listing sheet</ul>
            <ul> Preprinted paper for listing sheet with professional branding and all of your information pre-filled.</ul>
            <ul> Automated viewing schedule.</ul>
            <ul> Yard sign.</ul>
            <ul>  Balloons.</ul>
            <ul> Guided Purchase and Offer.</ul>
            <ul> Automated showing app -- Show your house to potential customers when you aren't home!</ul>
            <ul> Automated showing hardware and installation.</ul>
            <ul>  Professional photos.</ul>
            <ul> Listing creation.</ul>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <center><h2>Buyers</h2></center>
      <div class="panel-default">
          <ul> Set your own schedule to view the house! No need to rely on a Realtor!</ul>
          <ul> Because there is no realtor involved you could potentially save $1,000's</ul>
          <ul> Guided Offers.</ul>
          <ul> Guided Inspections.</ul>
          <ul> 3rd party recommendations of the top professionals in your area!</ul>
          <ul> Pay $10.00 per house or a one-time fee of $89.00 and view as many houses as you want!</ul>
      </div>
    </div>
  </div>
</div>
