<br>
<div class="jumbotron">
  <h1>BLOC-ACRES</h1>
  <p>Ditch the Realtor.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Sell without a realtor!</h2>
    <p>Using connected locks and smart phones, show and sell your house without a realtor.</p>
  </div>
  <div class="col-md-4">
    <h2>Get more and better qualified buyers at your house!</h2>
    <p> Because showing your house is no longer dependant on a busy realtors schedule, and because homebuyers are prescreened, you'll also ditch the tire-kickers, so your house is seen by the people you want -- prospective buyers!</p>
  </div>
  <div class="col-md-4">
    <h2>Selling on Bloc-acres makes bank.</h2>
    <p>The average Boston real estate commission is 5%. The average house price here is $575,000. That means that ditching the realtor could give you an extra 30 grand. What would you do with an extra 30 grand sitting in the bank?</p>
  </div>
</div>