<br>

  <div class="jumbotron">
    <div class="panel panel-appointment">
      <span class="glyphicon glyphicon-dashboard" style="font-size: 140px;"></span>
      <h1><b>DASHBOARD</b></h1>
    </div>

    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#buyer">Buyer</a></li>
      <li><a data-toggle="tab" href="#seller">Seller</a></li>
      <li><a data-toggle="tab" href="#home">Home</a></li>
      <li><a data-toggle="tab" href="#appointment">Appointments</a></li>
      <li><a data-toggle="tab" href="#appointment">Offers</a></li>
      <li><a data-toggle="tab" href="#appointment">Advice</a></li>
    </ul>
  </div>




  <div class="tab-content">
    <div id="buyer" class="tab-pane fade in active">
      <h2 id="favorites-listings"> <center>Favorites</center> </h2>

  <% @favorites.each do  |f| %>
    <% p = f.property %>
      <div class="jumbotron">
        <%= render partial: 'layouts/buyer_property_view', locals: { p: p } %>
      </div>
  <% end %>
    </div>





    <div id="seller" class="tab-pane fade in active">
    <h2 id="favorites-listings"><center>My Listings</center> </h2>
    <p><center>
       <%= link_to "Create Listing", new_property_path, class: 'btn btn-primary' %>
    </center></p>



    <% @properties.each do  |p| %>
      <div class="jumbotron">
        <%= render partial: "layouts/property", locals: { p: p } %>
      </div>

    <% end %>
    </div>
  </div>

</div>
<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>





