.header {
    background-color: $gray-light;
    padding: 5px 0 16px 0;
    &__content {
        @include atSmall {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
    &__group {
        &:first-child {
            @include atSmall {
                width: 30%;
            }
            @include atMedium {
                width: 40%;
            }
            @include atLarge {
                width: 50%;
            }
        }
        &:last-child {
            @include atSmall {
                width: 70%;
                margin-left: 5rem;
            }
            @include atMedium {
                width: 60%;
                margin-left: 0;
            }
            @include atLarge {
                width: 50%;
            }
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.25rem;
        &:first-child {
            @include atSmall {
                margin-top: 0;
            }
        }
    }
    &__logo-wrapper {
        display: block;
    }
    &__logo {
        display: block;
        margin: 0 auto;
        width: 50%;
        @include atSmall {
            width: auto;
            height: 73.5px;
            margin-left: 0;
            margin-right: auto;
        }
        @include atMedium {
            height: 78.75px;
        }
        @include atLarge {
            height: 83px;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &+& {
            margin-left: 1rem;
            @include atSmall {
                margin-left: 3.125rem;
            }
        }
    }
    &__submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-link {
            font-size: 1rem;
            font-family: $main;
            font-weight: 300;
            margin-left: 0.25rem;
            @include linkStates($black, none);
        }
    }
    &__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 1.25rem;
        &-item {
            &+& {
                margin-left: 10px;
            }
        }
        &-link {
            font-size: 1rem;
            display: inline-block;
            width: 1.5625rem;
            height: 1.5625rem;
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                font-size: 0.75rem;
            }
            &--linkedin {
                color: #1c75bc;
                border-color: #1c75bc;
                @include linkStates(#1c75bc, none);
            }
            &--pinterest {
                color: #bd1e2d;
                border-color: #bd1e2d;
                @include linkStates(#bd1e2d, none);
            }
            &--twitter {
                color: #0eb2f0;
                border-color: #0eb2f0;
                @include linkStates(#0eb2f0, none);
            }
            &--facebook {
                color: #2b3990;
                border-color: #2b3990;
                @include linkStates(#2b3990, none);
            }
        }
    }
    &__signup {
        font-family: $main;
        color: $text-light-alt;
        font-weight: 400;
        font-size: 1.125rem;
        text-align: center;
        @include linkStates($text-light-alt, none);
        @include atSmall {
            text-align: left;
        }
    }
    &__login {
        font-family: $main;
        color: $white;
        font-weight: 400;
        font-size: 1.125rem;
        text-transform: uppercase;
        background-color: $brand;
        padding: 2px 13px 5px 16px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
        margin-left: 1.5rem;
        @include linkStates($white, none);
    }
    &__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &-item {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & + & {
                margin-left: 1.5625rem;
            }
            &__label {
                font-family: $main;
                color: $text-dark;
                font-size: 1.125rem;
                @include linkStates($text-dark, none);
                &--accent {
                    font-weight: 400;
                    font-style: italic;
                }
                &--bold {
                    font-weight: 700;
                }
                &--big {
                    font-size: 1.375rem;
                }
            }
            &__icon {
                color: $brand;
                font-size: 1.333rem;
                margin-right: 0.25rem;
                @include atSmall {
                    transform: translateY(2px);
                }
            }
        }
    }
}
