.menu {
    background-color: $white;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: all .25s;
    transform: translateX(-150%);
    &--active {
        transform: translateX(0);
    }
    @include atSmall {
        position: static;
        transform: none;
        background-color: transparent;
        box-shadow: none;
        display: flex !important;
        align-items: stretch;
        justify-content: flex-start;
    }
    &__item {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.125rem 3rem;
        font-family: $main;
        font-weight: 400;
        font-size: 1.333rem;
        text-align: center;
        @include linkStates($black, none);
        @include atSmall {
            font-size: 0.8rem;
            display: inline-block;
            padding: 1.125rem;
        }
        @include atMedium {
            font-size: 0.875rem;
        }
        &--active {
            background-color: $brand;
        }
    }
    &__trigger {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: $brand;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 9999;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all .25s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        &--active {
            transform: translateX(165px);
        }
        @include atSmall {
            display: none;
        }
        &-line {
            height: 2px;
            width: 2rem;
            background-color: $white;
            & + & {
                margin-top: 5px;
            }
        }
    }
}
