.navigation {
    padding: 1.333rem 15px;
    @include atSmall {
        padding: 0 15px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}