
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom_calendar";
@import "custom_carrierwave";
@import "welcome";
@import "properties";
@import "form";
@import "timepicker";


.well {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)!important;
}

@media (max-width: 768px) {
  .nav>li {
    text-align: center;
  }
  .btn-success {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    max-width: 50%
  }
}

.thumbnail-small > .item > img {


}

.thumbnail {
  border-style: none;
  border-radius: 0px;
  background-color: transparent;
  padding: 0%;
}


#property-index {
  overflow-y: auto;
  height: 700px;
  text-align: right;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
}

.progress {
  height: 40px;
  background-color: transparent;
}


.navbar-toggle {
  display: inline-block;
  vertical-align:middle;
}
.dropdown-toggle .icon-bar {
  margin-bottom:2px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}


h1 {
  font-family: 'Montserrat';
  //text-shadow: -1px -1px 0 #fff,
  //1px -1px 0 #fff,
  //-1px 1px 0 #fff,
  //1px 1px 0 #fff;
}









h2 {
  font-family: 'Montserrat';
  //text-shadow: -1px -1px 0 #f4f4f4,
  //1px -1px 0 #f4f4f4,
  //-1px 1px 0 #f4f4f4,
  //1px 1px 0 #f4f4f4;
}
h2 {
  font-family: 'Montserrat';
  //text-shadow: -1px -1px 0 #f4f4f4,
  //1px -1px 0 #f4f4f4,
  //-1px 1px 0 #f4f4f4,
  //1px 1px 0 #f4f4f4;
}
h3 {
  font-family: 'Montserrat';

}
h4 {
  font-family: 'Montserrat';
  //text-shadow: -1px -1px 0 #f4f4f4,
  //1px -1px 0 #f4f4f4,
  //-1px 1px 0 #f4f4f4,
  //1px 1px 0 #f4f4f4;
}

body {
  font-family: 'Cabin';
}

.glyphicon {

}



.carousel-inner > .item > img {
  min-height: 308px;
  max-height: 308;
  min-width: 308;
  max-width: 300;
  border-style: none;
  border-width: none;
  background-color: none;

}




.navbar {
  min-height: 50px;
  background: rgba(100, 104, 104, 0.5);
  affix: top;
  padding: 10px;
  text-align: center;
  margin-bottom: 0px;
  max-height: 72px;
}

.nav-wrapper
{
  min-height:100px !important;
}




.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000; /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: rgba(248,80,50,.2);
  border-bottom-color: white;
  border-bottom-style: solid;
}

.navbar-default {

  border-style: none;
  border-radius: 0px;
}


.dropdown-menu {
  padding-bottom: 10px;
  border-top-width: 10px;
  border-right-width: 10px;
  border-left-width: 10px;
  border-bottom-width: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66CCFF; /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}

#nav.affix {
  position: fixed;
  padding: 10px, 10px, 10px, 10px;
  margin: 10px, 10px, 10px, 10px;
  z-index: 2;

  border-style: none;
  min-width:100%;
}

.panel-default {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px;
  border-color: white;
  border-style: none;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.panel-default-offer-inner{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  margin: 0px 0px 10px 0px;
  border-width: 20px;
  padding: 20px;
  max-height: 400px;
  overflow-y: scroll;
  p {
    font-size: 14px !important;
  }
    h3 {
      text-align: center;
      padding: 10px;
    }
  textarea {
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
  }
}

.panel-default-offer{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px;
  border-color: white;
  margin: 10px;
  border-style: none;
  padding: 60px;
  max-height: 400px;
  overflow:hidden;

  .p {
    font-size: 14px !important;
  }

}

.panel-about {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px;
  border-color: white;
  border-style: none;
  padding: 20px;
  min-height: 120px;
  max-height: 120px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.panel-heading {
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.19) 99%, rgba(231,56,39,0.18) 100%);
  border-radius: 0px 0px;

  padding: 20px;
  text-align: center;
  text: white !important;

}



#welcome-submit {
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-tabs {
  background: rgba(255, 255, 255, 1);
  border-radius: 0px 0px;
  border-color: white;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.nav-tabs > li > a:hover {
  background: transparent;
  border: thin;
  border-bottom: 0px;
  border-top: 1px;
  border-color: black;
  border-style: dotted;
}

#nav.affix {
  position: fixed;
  padding: 10px, 10px, 10px, 10px;
  margin: 10px, 10px, 10px, 10px !important;
  z-index: 2;

  min-width:100%;
}


.nav-wrapper
{
  min-height:100px !important;
}


.user-info {
  margin-top: 9px;
}

//styling for button gradiants.

.btn-primary.gradient {
  background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc), color-stop(50%, #0099cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* IE10+ */
  background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33a6cc', endColorstr='#0099cc', GradientType=0); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
  background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc), color-stop(50%, #33a6cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* IE10+ */
  background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b2cc', endColorstr='#33a6cc', GradientType=0); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
  background: -moz-linear-gradient(top, #267c99 50%, #007299 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99), color-stop(50%, #007299)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #267c99 50%, #007299 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #267c99 50%, #007299 50%); /* IE10+ */
  background: linear-gradient(to bottom, #267c99 50%, #007299 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c99', endColorstr='#007299', GradientType=0); /* IE6-9 */
}

.button {
  background: rgba(255, 255, 255, .5);
  border-radius: 0px 0px;
  border-color: white;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn {

  background: rgba(100, 104, 104, 0.2);
  color: white;
  border-radius: 8px 8px;
  border-color: white;
  border-style: solid;
  box-shadow: 0px 0px 00px #B1B1B1;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.btn-xs {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: rgba(100, 104, 104, 0.3);
  border-radius: 0px 0px;
  border-color: #000;
  border-style: solid;
  box-shadow: 0px 0px 00px #B1B1B1;
}

.btn-primary-listing{
  border-style: none;
  border-radius: 0px!important;
}

.btn-primary-listing:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.btn-primary-listing.gradient {
  background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc), color-stop(50%, #0099cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* IE10+ */
  background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33a6cc', endColorstr='#0099cc', GradientType=0); /* IE6-9 */
}

.btn-primary-listing.gradient:hover, .btn-primary-listing.gradient:focus, .btn-primary-listing.gradient:active, .btn-primary-listing.gradient.active, .open > .dropdown-toggle.btn-primary-listing {

  background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc), color-stop(50%, #33a6cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* IE10+ */
  background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b2cc', endColorstr='#33a6cc', GradientType=0); /* IE6-9 */
}

.btn-primary-listing:active, .btn-primary.gradient.active {
  background: -moz-linear-gradient(top, #267c99 50%, #007299 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99), color-stop(50%, #007299)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #267c99 50%, #007299 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #267c99 50%, #007299 50%); /* IE10+ */
  background: linear-gradient(to bottom, #267c99 50%, #007299 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c99', endColorstr='#007299', GradientType=0); /* IE6-9 */
}

.nav {
  margin-top: 5px;
}

body {


  background-attachment: fixed;
  background-color: rgba(210,211,196,0.73);

}


.marquee {

  top: 0;
  height: 600px;
  min-height: 600px;
  max-height: 600px;
  width: 100%;
  background-color: rgba(210,211,196,0.73);
  z-index: 0;
  border-bottom: solid;
  border-color: white;
}


header {

  background-repeat: repeat-y;
  background: #FFFFFF; /* This is for ie8 and below */

}

.jumbotron {

  background: linear-gradient(to right, rgba(155,156,124,0.93)100%);

  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;

}

.panel-rating-header {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
  border-radius: 16px 16px;
  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;

}

.panel-rating-header-second-last {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
  border-radius: 8px 8px 0px 0px;
  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;

}
.panel-rating-header-last {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
  border-radius: 0px 0px;
  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;

}

.panel-map {
  height: 400px;
  width: 400px;
}
.panel-rating {
  padding: 4px;
}

.favorite {
  margin-top: 20px;
}

//styling for google map container.

#map-container {
  minimum-height: 400px;
  width: relative;
  overflow: hidden;
  width: 100%;
}

#map-canvas {
  width: 100%;
  margin: auto;
  height:587px;

}

#myTab {
  margin: 5px 0px 5px 0px;
}

.calendar-container {
  overflow: scroll;
  max-height: 400px;
}

.simple-calendar {
  padding: 5px 5px 5px 5px;
}

#about-text1and2 {
  padding: 20px 0px 20px 0px;
}

#about-text1 {
  padding: 0px 20px 0px 100px;
}

#about-text2 {
  padding: 0px 20px 0px 100px;
}

#about-text3 {
  padding: 0px 20px 0px 20px;
}

#about-text4 {
  padding: 0px 20px 0px 20px;
}



.glyphicon-dashboard {
  padding: 5px 0px 0px 5px;
  text-shadow: -1px -1px 0 #f4f4f4,
  1px -1px 0 #f4f4f4,
  -1px 1px 0 #f4f4f4,
  1px 1px 0 #f4f4f4;
}

.glyphicon-home {
  padding: 5px 0px 0px 5px;
  text-shadow: -1px -1px 0 #f4f4f4,
  1px -1px 0 #f4f4f4,
  -1px 1px 0 #f4f4f4,
  1px 1px 0 #f4f4f4;
}


#favorites-listings {
  color: rgba(255, 255, 255, 1);
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}



#property-create {

}



.marketing-message {
  margin: 10px;
}

.panel-appointment {
  background: linear-gradient(to right, rgba(248, 80, 50, 0.93) 0%, rgba(11, 107, 103, 0.28) 0%, rgba(246, 41, 12, 0.42) 91%, rgba(246, 41, 12, 0.49) 95%, rgba(240, 47, 23, 0.26) 99%, rgba(231, 56, 39, 0.19) 100%);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white;
  border-style: solid;
  border-width: 0px 1.5px 1.5px 1.5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 8px 8px;
}


.panel-index {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white;
  border-style: none;
  border-width: 0px 1.5px 1.5px 1.5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 8px 8px;
  min-height: 975px;
}



.row-welcome {

}

.panel-welcome {
  background-color: rgba(255, 255, 255, 0.75);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white !important;
  border-style: none;
  border-width: 0px 1px 1px 1px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 8px 8px;
  box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.08);
  text-align: center;
}

.panel-home {
  background-color: rgba(255, 255, 255, 0.75);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white !important;
  border-style: none;
  border-width: 0px 1px 1px 1px;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 8px 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: rgba(255, 255, 255, 0.45);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: inherit;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.title {

}



.ribbon {
  width: 100%;
  position: relative;
  z-index: -1;
  text-align: center;
  font-size: 18px!important;
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.67) 0%, rgba(246,41,12,0.45) 91%, rgba(246,41,12,0.42) 95%, rgba(240,47,23,0.39) 99%, rgba(231,56,39,0.38) 100%);
  background-image: linear-gradient(to right, rgba(248,80,50,.95) 0%, rgba(107,24,11,.77) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.52) 95%, rgba(240,47,23,0.49) 99%, rgba(231,56,39,0.38) 100%);
  -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
}
.ribbon h1 {
  font-size: 25px!important;
  background: linear-gradient(to right, rgba(248,80,50,.73) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.25) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.19) 99%, rgba(231,56,39,0.18) 100%);

  text-shadow: #d65c5c 0 1px 0;
  margin:0px;
  padding: 15px 10px;
}
.ribbon:before, .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #c23a3a;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  border-color: #871616 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon-stitches-top {
  margin-top:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
  margin-bottom:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

#fake-buy-now {
  z-index: 1;
}


#carousel-wrapper,
#carousel figure {
  height: 100px;
  line-height: 100px;
}
#carousel figure:nth-of-type(1) { -webkit-transform: rotateX(0deg) translateZ(86px); }
#carousel figure:nth-of-type(2) { -webkit-transform: rotateX(60deg) translateZ(86px); }
#carousel figure:nth-of-type(3) { -webkit-transform: rotateX(120deg) translateZ(86px); }
#carousel figure:nth-of-type(4) { -webkit-transform: rotateX(180deg) translateZ(86px); }
#carousel figure:nth-of-type(5) { -webkit-transform: rotateX(240deg) translateZ(86px); }
#carousel figure:nth-of-type(6) { -webkit-transform: rotateX(300deg) translateZ(86px); }
#carousel[data-state="1"] figure:nth-of-type(1),
#carousel[data-state="2"] figure:nth-of-type(2),
#carousel[data-state="3"] figure:nth-of-type(3),
#carousel[data-state="4"] figure:nth-of-type(4),
#carousel[data-state="5"] figure:nth-of-type(5),
#carousel[data-state="6"] figure:nth-of-type(6) { opacity: 1; }

#carousel-wrapper {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  text-align: center;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  -o-perspective: 1100px;
  perspective: 1100px;
}


#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  opacity: .2;
  webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}



.stick {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}

.text-area {
  width: 100%;
  margin: auto;
  border-style: none;
}

.google_map
{
  max-width: 100%;
  overflow:hidden;
  display: block;

  position: relative;
  /* Uncle Daves Padded Box */
 // background-size: cover;
 // height: 0;
 // padding-bottom: 100%;
  //border-radius: 50%;
}

.google_map img
{
  width: 100%;

  //miniumum-height: 640px;
  //position: absolute;
  //top: 50%;
  //left: 50%;
 // margin-left: -320px; /* Half image width */
 // margin-top: -320px; /* Half image height */
}

.owner-comment {
  border-color: white;
  background-color: rgba(248,80,50,.2);
}

.profile-round {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.profile-round-small {
  display: block;
  width: 75px;
  height: 75px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;

}

.showcase {
  border-color: #33a6cc;
  border-style: solid;
  border-width: 1px;
}


.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%!important;
  height: 100%!important;
  max-height: 600px;
  border: 0;
}

#video {
  width: 100%;
  height: auto;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

#signup {
  background-color: #499b7e;
  padding: 50px;
}

#welcomethird{
  background-color: cadetblue;
  padding: 50px;
  text-align: center;
}

.navbar .navbar-nav {
  display: flex;
  float: right;
  align-items: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

#devise_signin {
  text-align: center;
}
.timer {
  text-align: center;
  font-size: 250%;
}

.tr {
  line-height: 14px;
}

#video {
  z-index: -1;
  width: 100%;
}

.separate {
  background-color: rgba(248, 80, 50, 0.23);
  height: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
}

.row-welcome {
  margin-bottom: 50px;
}

.panel-marketing {
  text-align: center;
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.19) 99%, rgba(231,56,39,0.18) 100%);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white;
  border-style: solid;
  border-width: 0px 1.5px 1.5px 1.5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 8px 8px;
}

th.navigate {
  width: 40%; /* Not necessary, since only 70% width remains */
}

th.user {
  width: 10%; /* Not necessary, since only 70% width remains */
}
th.time {
  width: 10%; /* Not necessary, since only 70% width remains */
}
th.date {
  width: 10%; /* Not necessary, since only 70% width remains */
}
th.enter {
  width: 10%; /* Not necessary, since only 70% width remains */
}
th.exit {
  width: 10%; /* Not necessary, since only 70% width remains */
}
th.report {
  width: 10%; /* Not necessary, since only 70% width remains */
}

.table > tbody > tr > td {
  display: table-cell;
  vertical-align: middle;
}

.th {

}


.sign_up {
  text-align: center;
}

.fa-check-circle-o {
  color: green;
}

.fa-times-circle-o {
  color: red;
}

.glyphicon-time {
  color: #ffbd1f;
}







//about bootsnip


section {
  padding: 5% 0;
}

.alizarin {
  background: #e74c3c;
}

.amethyst {
  background: #9b59b6;
}

.emerald {
  background: #2ecc71;
}

.midnight-blue {
  background: #2c3e50;
}

.peter-river {
  background: #3498db;
}

.dl {
  background: #f0f0f0;
  padding: 30px 0;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.dl:before {
  content: " ";
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -10px;
}

.dl .brand {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  min-height: 100px;
}

.dl .discount {
  min-height: 50px;
  position: relative;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;

  padding: 20px 15px 0;
  color: #f1c40f;
}

.dl .discount:after {
  content: " ";

  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: 20%;
}

.dl .discount.alizarin:after {
  border-top: 20px solid #e74c3c;
}

.dl .discount.peter-river:after {
  border-top: 20px solid #3498db;
}

.dl .discount.emerald:after {
  border-top: 20px solid #2ecc71;
}

.dl .discount.amethyst:after {
  border-top: 20px solid #9b59b6;
}

.dl .discount .type {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -30px;
}

.dl .descr {
  color: #999;
  margin-top: 10px;
  padding: 20px 15px;
}

.dl .ends {
  padding: 0 15px;
  color: #f1c40f;
  margin-bottom: 10px;
}

.dl .coupon {
  min-height: 50px;
  text-align: center;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 15px;
}

.dl .coupon a.open-code {
  color: #16a085;
}

.dl .coupon .code {
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 15px;
  color: #f1c40f;
  background: #f0f0f0;
}



.well-property-create {
  text-align: center;
}

#about-text1and2 {
  text-align: center;
}

#container-about {
  text-align: center;
}


.appointment-show {
  text-align: center;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  z-index: 1;
  position: absolute;
  display: block;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#create_listing {
  margin-top: 10px;
  margin-bottom: 10px;

  .btn {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;
  }

}

#property_show {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-width: 1px;
  vertical-align: middle;
}

#search_structure {
  padding: 5px;

  width: 100%;
}
#search_price {
  padding: 2.5px;

  width: 45%;
}
#search_beds {
  padding: 2.5px;

  width: 45%;
}
#search_baths {
  padding: 2.5px;

  width: 45%;
}

.form-id {
  #search-field {
    padding: 2px;
  }
}

#search-toggle:active {
  color: white;
  background-color: rgba(248, 80, 50, 0.2);
  border-bottom-color: white;
  border-bottom-style: solid;
}

#appointment-show {
    margin: 20px;
  }

a:-webkit-any-link {
  text-decoration: none;
  cursor: auto;
}


#account-info {
  text-align: center;
}




.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}


//loader for buying viewing
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/// pagination
#search_pagination {
  text-align: center;
}