
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom_calendar";
@import "custom_carrierwave";
@import "welcome";



@media (max-width: 768px) {
  .nav>li {
    text-align: center;
  }
  .btn-success {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    max-width: 50%
  }
}

.thumbnail-small > .item > img {


}

.thumbnail {
  border-style: none;
  border-radius: 0px;
  background-color: transparent;
}


.star-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
}

.progress {
  height: 40px;
}


.navbar-toggle {
  display: inline-block;
  vertical-align:middle;
}
.dropdown-toggle .icon-bar {
  margin-bottom:2px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}


h1 {
  font-family: 'Montserrat';
  text-shadow: -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}









h2 {
  font-family: 'Montserrat';
  text-shadow: -1px -1px 0 #f4f4f4,
  1px -1px 0 #f4f4f4,
  -1px 1px 0 #f4f4f4,
  1px 1px 0 #f4f4f4;
}
h2 {
  font-family: 'Montserrat';
  text-shadow: -1px -1px 0 #f4f4f4,
  1px -1px 0 #f4f4f4,
  -1px 1px 0 #f4f4f4,
  1px 1px 0 #f4f4f4;
}
h3 {
  font-family: 'Montserrat';

}
h4 {
  font-family: 'Montserrat';
  text-shadow: -1px -1px 0 #f4f4f4,
  1px -1px 0 #f4f4f4,
  -1px 1px 0 #f4f4f4,
  1px 1px 0 #f4f4f4;
}

body {
  font-family: 'Cabin';
}

.glyphicon {
  font-size: 25px;
}



.carousel-inner > .item > img {
  min-height: 308px;
  max-height: 308;
  min-width: 308;
  max-width: 300;
  border-style: none;
  border-width: none;
  background-color: none;

}




.navbar {
  min-height: 100px; //* or whatever height you require
  background: rgba(100, 104, 104, .5);
  affix: top;
  .navbar-right {
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  padding: 10px !important;
}

.nav-wrapper
{
  min-height:100px !important;
}


}

.navbar-brand {
  background-image: url("rsz_1key-house-logo-free-vector-1732.jpg");
  background-image: transparent;
  width: 150px;
  height: 200px;
  border-radius: 16px;
  border-color: #000;
  border-style: solid;
  box-shadow: 0px 0px 0px #B1B1B1;
  margin: 0px 0px 0px 0px !important;
  affix: top;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000; /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: rgba(248,80,50,.2);
  border-bottom-color: white;
  border-bottom-style: solid;
}

.navbar-default {
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.19) 99%, rgba(231,56,39,0.5) 100%);
  border-style: none;
  border-radius: 0px;
}


.dropdown-menu {
  padding-bottom: 10px;
  border-top-width: 10px;
  border-right-width: 10px;
  border-left-width: 10px;
  border-bottom-width: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66CCFF; /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}

#nav.affix {
  position: fixed;
  padding: 10px, 10px, 10px, 10px;
  margin: 10px, 10px, 10px, 10px;
  z-index: 2;
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.19) 99%, rgba(231,56,39,0.18) 100%);
  border-style: none;
  min-width:100%;
}

.panel-default {
   background: rgba(255, 255, 255, 0.7);
   border-radius: 0px 0px;
   border-color: white;
   border-style: none;
   padding: 20px;

 }

.panel-default-offer-inner{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  margin: 0px 0px 10px 0px;
  border-width: 20px;
  padding: 20px;
  max-height: 400px;
  overflow-y: scroll;
    .p {
      font-size: 14px !important;
    }

}

.panel-default-offer{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px;
  border-color: white;
  margin: 10px;
  border-style: none;
  padding: 60px;
  max-height: 400px;
  overflow:hidden;

  .p {
    font-size: 14px !important;
  }

}

.panel-about {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px;
  border-color: white;
  border-style: none;
  padding: 20px;
  min-height: 120px;
  max-height: 120px;
  text-align: center;

}

.panel-heading {
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.19) 99%, rgba(231,56,39,0.18) 100%);
  border-radius: 0px 0px;

  padding: 20px;
  text-align: center;
  text: white !important;

}



#welcome-submit {
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-tabs {
  background: rgba(255, 255, 255, 1);
  border-radius: 0px 0px;
  border-color: white;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

.nav-tabs > li > a:hover {
  background: transparent;
  border: thin;
  border-bottom: 0px;
  border-top: 0px;
  background: rgba(255, 255, 255, .3);

  border-color: #000;
  border-style: solid;

}

#nav.affix {
  position: fixed;
  padding: 10px, 10px, 10px, 10px;
  margin: 10px, 10px, 10px, 10px !important;
  z-index: 2;
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.33) 99%, rgba(231,56,39,0.5) 100%);
  min-width:100%;
}


.nav-wrapper
{
  min-height:100px !important;
}


.user-info {
  margin-top: 9px;
}

//styling for button gradiants.

.btn-primary.gradient {
  background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc), color-stop(50%, #0099cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* IE10+ */
  background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33a6cc', endColorstr='#0099cc', GradientType=0); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
  background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc), color-stop(50%, #33a6cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* IE10+ */
  background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b2cc', endColorstr='#33a6cc', GradientType=0); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
  background: -moz-linear-gradient(top, #267c99 50%, #007299 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99), color-stop(50%, #007299)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #267c99 50%, #007299 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #267c99 50%, #007299 50%); /* IE10+ */
  background: linear-gradient(to bottom, #267c99 50%, #007299 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c99', endColorstr='#007299', GradientType=0); /* IE6-9 */
}

.button {
  background: rgba(255, 255, 255, .5);
  border-radius: 0px 0px;
  border-color: white;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

.btn {

  background: rgba(100, 104, 104, 0.2);
  color: #F2F2F2;
  border-radius: 8px 8px;
  border-color: white;
  border-style: solid;
  box-shadow: 0px 0px 00px #B1B1B1;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.btn-xs {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: rgba(100, 104, 104, 0.3);
  border-radius: 0px 0px;
  border-color: #000;
  border-style: solid;
  box-shadow: 0px 0px 00px #B1B1B1;
}

.btn-primary-listing{
  border-style: none;
  border-radius: 0px!important;
}

.btn-primary-listing:hover {
box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.btn-primary-listing.gradient {
  background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc), color-stop(50%, #0099cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* IE10+ */
  background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33a6cc', endColorstr='#0099cc', GradientType=0); /* IE6-9 */
}

.btn-primary-listing.gradient:hover, .btn-primary-listing.gradient:focus, .btn-primary-listing.gradient:active, .btn-primary-listing.gradient.active, .open > .dropdown-toggle.btn-primary-listing {

  background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc), color-stop(50%, #33a6cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* IE10+ */
  background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b2cc', endColorstr='#33a6cc', GradientType=0); /* IE6-9 */
}

.btn-primary-listing:active, .btn-primary.gradient.active {
  background: -moz-linear-gradient(top, #267c99 50%, #007299 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99), color-stop(50%, #007299)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #267c99 50%, #007299 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #267c99 50%, #007299 50%); /* IE10+ */
  background: linear-gradient(to bottom, #267c99 50%, #007299 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c99', endColorstr='#007299', GradientType=0); /* IE6-9 */
}

.nav {
  margin-top: 5px;
}

body {

  background-image: url("stonehouse.jpg");
  background-attachment: fixed;
  background-color: rgba(210,211,196,0.73);

}

header {

  background-repeat: repeat-y;
  background: #FFFFFF; /* This is for ie8 and below */

}

.jumbotron {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
  border-radius: 16px 16px;
  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;

}

.panel-rating-header {
   background: rgb(100, 54, 54); /* This is for ie8 and below */
   background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
   border-radius: 16px 16px;
   border-color: white;
   border-style: none;
   box-shadow: 0px 0px 00px #B1B1B1;
   padding: 4px;
   margin-top: 8px;
   margin-bottom: 8px;

 }

.panel-rating-header-second-last {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
  border-radius: 8px 8px 0px 0px;
  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;

}
.panel-rating-header-last {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
  border-radius: 0px 0px;
  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;

}


.panel-rating {
  padding: 4px;
}

.favorite {
  margin-top: 20px;
}

//styling for google map container.

#map-container {
  minimum-height: relative;
  width: relative;
  overflow: hidden;
  width: 100%;
}

#map-canvas {
  width: 100%;
  margin: auto;
}

#myTab {
  margin: 5px 0px 5px 0px;
}

.calendar-container {
  overflow: scroll;
  max-height: 400px;
}

.simple-calendar {
  padding: 5px 5px 5px 5px;
}

#about-text1and2 {
  padding: 20px 0px 20px 0px;
}

#about-text1 {
  padding: 0px 20px 0px 100px;
}

#about-text2 {
  padding: 0px 20px 0px 100px;
}

#about-text3 {
  padding: 0px 20px 0px 20px;
}

#about-text4 {
  padding: 0px 20px 0px 20px;
}



.glyphicon-dashboard {
  padding: 5px 0px 0px 5px;
  text-shadow: -1px -1px 0 #f4f4f4,
  1px -1px 0 #f4f4f4,
  -1px 1px 0 #f4f4f4,
  1px 1px 0 #f4f4f4;
}

.glyphicon-home {
  padding: 5px 0px 0px 5px;
  text-shadow: -1px -1px 0 #f4f4f4,
  1px -1px 0 #f4f4f4,
  -1px 1px 0 #f4f4f4,
  1px 1px 0 #f4f4f4;
}


#favorites-listings {
  color: rgba(255, 255, 255, 1);
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}



#property-create {

}



.marketing-message {
  margin: 10px;
}

.panel-appointment {
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.19) 99%, rgba(231,56,39,0.18) 100%);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white;
  border-style: solid;
  border-width: 0px 1.5px 1.5px 1.5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 8px 8px;
}


.panel-index {
  background: rgb(100, 54, 54); /* This is for ie8 and below */
  background: linear-gradient(to right, rgba(155,156,124,0.93) 0%, rgba(210,211,196,0.73) 52%, rgba(242,242,238,0.54) 82%, rgba(255,255,255,0.74) 94%, rgba(255,255,255,0.34) 100%);
  border-color: white;
  border-style: none;
  box-shadow: 0px 0px 00px #B1B1B1;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white;
  border-style: none;
  border-width: 0px 1.5px 1.5px 1.5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 8px 8px;
  min-height: 975px;
}



.row-welcome {

}

.panel-welcome {
  background-color: rgba(255, 255, 255, 0.75);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white !important;
  border-style: none;
  border-width: 0px 1px 1px 1px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 8px 8px;
  box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.08);
  text-align: center;
}

.panel-home {
  background-color: rgba(255, 255, 255, 0.75);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: white !important;
  border-style: none;
  border-width: 0px 1px 1px 1px;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 8px 8px;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: rgba(255, 255, 255, 0.45);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: inherit;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.title {

}



.ribbon {
  width: 100%;
  position: relative;
  z-index: -1;
  text-align: center;
  font-size: 18px!important;
  background: linear-gradient(to right, rgba(248,80,50,.93) 0%, rgba(107,24,11,.67) 0%, rgba(246,41,12,0.45) 91%, rgba(246,41,12,0.42) 95%, rgba(240,47,23,0.39) 99%, rgba(231,56,39,0.38) 100%);
  background-image: linear-gradient(to right, rgba(248,80,50,.95) 0%, rgba(107,24,11,.77) 0%, rgba(246,41,12,0.55) 91%, rgba(246,41,12,0.52) 95%, rgba(240,47,23,0.49) 99%, rgba(231,56,39,0.38) 100%);
  -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
}
.ribbon h1 {
  font-size: 25px!important;
  background: linear-gradient(to right, rgba(248,80,50,.73) 0%, rgba(107,24,11,.47) 0%, rgba(246,41,12,0.25) 91%, rgba(246,41,12,0.22) 95%, rgba(240,47,23,0.19) 99%, rgba(231,56,39,0.18) 100%);

  text-shadow: #d65c5c 0 1px 0;
  margin:0px;
  padding: 15px 10px;
}
.ribbon:before, .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #c23a3a;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  border-color: #871616 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon-stitches-top {
  margin-top:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
  margin-bottom:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

#fake-buy-now {
  z-index: 1;
}


#carousel-wrapper,
#carousel figure {
  height: 100px;
  line-height: 100px;
}
#carousel figure:nth-of-type(1) { -webkit-transform: rotateX(0deg) translateZ(86px); }
#carousel figure:nth-of-type(2) { -webkit-transform: rotateX(60deg) translateZ(86px); }
#carousel figure:nth-of-type(3) { -webkit-transform: rotateX(120deg) translateZ(86px); }
#carousel figure:nth-of-type(4) { -webkit-transform: rotateX(180deg) translateZ(86px); }
#carousel figure:nth-of-type(5) { -webkit-transform: rotateX(240deg) translateZ(86px); }
#carousel figure:nth-of-type(6) { -webkit-transform: rotateX(300deg) translateZ(86px); }
#carousel[data-state="1"] figure:nth-of-type(1),
#carousel[data-state="2"] figure:nth-of-type(2),
#carousel[data-state="3"] figure:nth-of-type(3),
#carousel[data-state="4"] figure:nth-of-type(4),
#carousel[data-state="5"] figure:nth-of-type(5),
#carousel[data-state="6"] figure:nth-of-type(6) { opacity: 1; }

#carousel-wrapper {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  text-align: center;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  -o-perspective: 1100px;
  perspective: 1100px;
}


#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  opacity: .2;
  webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}



.stick {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}

.text-area {
  width: 100%;
  margin: auto;
  border-style: none;
}

.google_map
{
  width: 100%;
  overflow:hidden;
  display: block;

  position: relative;
  /* Uncle Daves Padded Box */
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
}

.google_map img
{
  width: 640px;
  miniumum-height: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -320px; /* Half image width */
  margin-top: -320px; /* Half image height */
}

#owner-comment {
  border-color: white;
  background-color: rgba(248,80,50,.2);
}

.profile-round {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.profile-round-small {
  display: block;
  width: 75px;
  height: 75px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;

}

.showcase {
  border-color: #33a6cc;
  border-style: solid;
  border-width: 1px;
}