.calendar-container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px;
  border-top: 0px;
  border-bottom-color: rgba(86, 176, 220, 0.43) !important;
  .calendar-header {
    padding: 10px;
    font-size: 20px;
    span {
      padding: 0px 10px;

    }
  }
  table {
    width: 100%;
  }
  th {
    text-align: center;
    padding: 20px;
  }
  td {
    padding: 20px;
    &.today{
      background-color: rgba(85, 104, 98, 0.23);
      border: solid;
      border-color: white;
      border-bottom: 0px;
    }
  }
}
