<div class="">
  <h4>Steps To Selling Your House:</h4>
  <ul class="breadcrumb">
    <li class="<%= current_user.properties ? 'active' : 'next-step' %>">
      <span>Create listing and place yard sign</span>
    </li>

    <li class="<%= current_user.progress_has_favorited? ? 'active' : 'next-step' %>">
      <span>Set schedule</span>
    </li>

    <li class="next-step">
      <span>Automate marketing</span>
    </li>
    <li class="<%= current_user.comments ? 'active' : 'next-step' %>">
      <span>Answer property questions</span>
    </li>
    <li class="next-step">
      <span>Restock from store</span>
    </li>
    <li class="next-step">
      <span>Report misbehavior</span>
    </li>
    <li class="next-step">
      <span>Review inspection</span>
    </li>
    <li class="next-step">
      <span>Accept or Reject Offer</span>
    </li>
    <li class="next-step">
      <span>Schedule closing </span>
    </li>
    <li class="next-step">
      <span>Close</span>
    </li>
    <li class="next-step">
      <span>Move</span>
    </li>
  </ul>
</div>