<div class="">
  <ul class="breadcrumb">
    <li class="<%= current_user.properties ? 'active' : 'next-step' %>">
      <span>Create listing and put out yard sign</span>
    </li>

    <li class="<%= current_user.progress_has_favorited? ? 'active' : 'next-step' %>">
      <span>Set showing schedule</span>
    </li>

    <li class="next-step">
      <span>Automated social media promotions</span>
    </li>
    <li class="<%= current_user.comments ? 'active' : 'next-step' %>">
      <span>Answer property questions</span>
    </li>
    <li class="next-step">
      <span>Purchase from the store should you need it</span>
    </li>
    <li class="next-step">
      <span>Report misbehavior</span>
    </li>
    <li class="next-step">
      <span>Review inspection results</span>
    </li>
    <li class="next-step">
      <span>Accept or Reject Contract</span>
    </li>
    <li class="next-step">
      <span>Have attorney schedule closing </span>
    </li>
    <li class="next-step">
      <span>Close</span>
    </li>
    <li class="next-step">
      <span>Pick mover </span>
    </li>
  </ul>
</div>