

    <div class="panel panel-marketing col-md-12">
    <br />
      <% @advertisements.each do |add| %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <%= image_tag add.image.url, class: "profile-round" %>

              <div>
                <b><%= add.title %></b>
              </div>
              <div>
                <p><%= add.description %></p>
              </div>
              <div class="btn btn-default btn-block">
                Contact Service Provider
              </div>

            </div>
          </div>
      <% end %>

    </div>
