


<div id="account-info" class="container-fluid">
  <div class="well well-xl">

    <div class="well well-sm">
      <h4>User Account Information</h4>
    </div>
    <div class="well">
      <div class="row">
        <p> Name: <%= current_user.name %></p>
      </div>
      <div class="row">
        <p> Email: <%= current_user.email %></p>
      </div>
      <div class="row">
        <p> Last signed in on: </p>
      </div>
      <div class="row">
        <p> Number of listings:

        </p>
      </div>
      <div class="row">
        <p> Phone number: (xxx) xxx-xxxx </p>
      </div>
      <div class="row">
        <p> Address if different from listing: </p>
      </div>
      <div class="row">
        <p> Listing Plan: Bronze - Gold - Platinum </p>
      </div>
      <div class="row">
        <p> Payment Plan: Monthly or One-time </p>
      </div>
      <div class="row">
        <p> Credit Card Info: xxxxxxxxxxxxxxxxx</p>
      </div>
      <div class="row">
        <p> Number of Houses visited: 3 </p>
      </div>
      <div class="row">
        <p> Dates of visit: 3/3/3 at 3:00pm </p>
      </div>
      <div class="row">
        <p> Other owner info: Jane Doe</p>
      </div>

    </div>

  </div>
</div>